<%- include('includes/headprincipal'); %>
<%- include('includes/nav'); %>
<div class="container">
    <div class="row">
      <div class="div col-lg-2"></div>
      <div class="div col-lg-8 my-3">
        <h1 class="text-center">Perfil Paciente</h1>
        
      </div>
      <div class="div col-lg-2"></div>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top listapacientes" src="../3.png" alt="Imagem de capa do card">
                  <br>Dados: <br>
                  Nome:  <%= pessoa.nome%>  <%= pessoa.sobrenome%><br><br>
                  Data de Nascimento:  <%= pessoa.datanascimento %><br><br>
                  Local:  <%= pessoa.cidade %><br><br>
                  Email:  <%= pessoa.email %><br><br>
                  Motivo Terapia:<br><br>
                  <div class="card-body">
                    <p class="card-text"><%= pessoa.paciente_motivo %></p>
                  </div>
              </div>
             
          </div>
          <div class="col-sm">
            <form action="/perfil" method="POST">


              <input type="hidden" id="id" name="id" value="<%= pessoa.id%>">

              <% if (!usuario[0].crp) { %>
                
              
                   
                <div class="form-group">
                  <%- include("includes/messages"); %>
                  <label for="objetivo">Nos diga, o por que você deseja iniciar a terapia:</label>
                  <textarea class="form-control" id="objetivo" cols=60 id="objetivo" rows="10" name="objetivo" 
                    maxlength="500" wrap="hard" placeholder="Não se preocupe, essa informação só ficará disponível para os psicólogos">
                    <%= pessoa.paciente_motivo %>
                  </textarea><br>
                  <small class="alert alert-info" role="alert"> Essa informação só ficará disponível para os psicólogos</small>
                </div><br>
                <div id="campos"></div>
                <% if(pessoa.paciente_motivo==''||pessoa.paciente_motivo==null ) {  %>

                  <div class="form-group">
                    <label for="dia">Nos informe quais são os dia(s) e horário(s) disponíveis para as suas sessões:</label><br>
                    
                      <select id="dia">                    
                          <option value="Segunda-feira">Segunda-feira</option>                    
                          <option value="Terça-feira">Terça-feira</option>                    
                          <option value="Quarta-feira">Quarta-feira</option>                    
                          <option value="Quinta-feira">Quinta-feira</option>
                          <option value="Sexta-feira">Sexta-feira</option>                      
                      </select>

                      <select id="hora">                                    
                        <%  for(i=8;i<=21;i++) {%>
                          <% if(i<10) {  %>
                            <option value="<%= "0"+ i %>"> <%= "0"+i %> </option>                         
                          <% }else{ %>
                            <option value="<%= i %>"> <%= i %> </option>                              
                          <% } %>
                        <% } %>                        
                      </select> <b>:00</b>
                      <!-- <input type="time" id="hora" name="hora" min="08:00" max="18:00" required> -->
                        <input type="button" class="btn btn-primary" id="btnConfirmar" onclick="adicionarHorario(event)" value="Confirmar"></button> 
                        
                  </div><br>
          
                  <% } %> 
                <% } %>
              
              <table class="table">
                <thead class="thead-dark">
                  <tr>                      
                    <th scope="col">Dia</td>
                    <th scope="col">Horário</td>
                    <th scope="col">#</td>
                  </tr>
                </thead>
                <tbody id="horarios">   
                  <% if(pessoa.paciente_motivo!=null) {  %>
                 
                    <% for(i=0;i<horariosPaciente.length;i++){ %>                
                      <tr>
                        <td><%= horariosPaciente[i].dia %></td>
                        <td><%= horariosPaciente[i].hora %></td>
                       
                      </tr>                    
                    <% } %>
                    
                  <% } %>  
                  
                </tbody>                    
              </table>
             
              <div id="btnEnviar"></div> 
              <!-- <button class="btn btn-primary">Salvar</button> -->
            </form>
        </div>
          </div>
      </div>
  </div>
  <%- include('includes/footerPerfil'); %>